alias ll='ls -la --color=auto'
alias grape='ssh hongikeam@grape'
alias grapet='telnet -l hongikeam grape'
alias pscp='scp -p -o "ProxyCommand ssh hongikeam@grape nc %h %p"'
alias pssh='ssh -A -t hongikeam@grape ssh -A -t'
alias cssh='csshx --ssh grape.sh --ssh_args'
alias cssh2='csshx --screen 2 --ssh grape.sh --ssh_args'

alias hvent='cssh "hanadmin" "vent"'
alias hbutcher='cssh "hanadmin" "butcher"'
alias hfilter='cssh "hanadmin" "filter"'
alias hdha='cssh "hanadmin" "dha"'
alias hdb='cssh "hanadmin" "db"'
alias hdb1='cssh "hanadmin" "db1"'
alias hdb2='cssh "hanadmin" "db2"'
alias hcache='cssh "hanadmin" "cache"'
alias hnosql='cssh "hanadmin" "nosql"'
alias htest='cssh "hanadmin" "test"'

alias ns.dev='ssh hongikeam@ns.dev'
alias ns.master='ssh root@ns.master'
