alias ll='ls -la --color=auto'
alias pscp='scp -p -o "ProxyCommand ssh hongikeam@grape nc %h %p"'
alias pssh='ssh -A -t hongikeam@grape ssh -A -t'
alias cssh='csshx --ssh grape.sh --ssh_args'
alias cssh2='csshx --screen 2 --ssh grape.sh --ssh_args'

alias wish='ssh -i ~/works/wish/contextlogickorea.pem -l ec2-user'
alias wishcp='scp -i ~/works/wish/contextlogickorea.pem -l ec2-user'
alias bikd='ssh -i ~/works/bikini/bikini-dev.pem -l ec2-user@test.style-shop.me'
alias bik='ssh -i ~/works/bikini/bikini-dev.pem ec2-user@bastion.style-shop.me'
alias bikgit='ssh -i ~/works/bikini/vpc-common.pem -l bikini'

alias gitdif='git-icdiff'
